<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>nrvparks.com - About</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding fullscreen>
    <article>
      <p>This is an <a target="_blank" href="https://gitlab.com/codefornrv/park-finder/park-finder-app">Open Source</a> project developed by <a target="_blank" href="https://www.codefornrv.org/">Code for NRV</a> to help citizens find local parks.</p>
      <p>
        Code for NRV is a group of people, first and foremost. 
        We also call ourselves technologists, planners, designers, doers, thinkers, and activists. 
        We actively work together to improve the towns and counties of the New River Valley in Southwest Virginia, often using technology to support our efforts. 
        By connecting people, organizations, resources, tools, and networks to build for the New River Valley, we will all thrive.
      </p>
      <p>
        We organize events on <a href="https://www.meetup.com/codefornrv" target="_blank">Meetup</a>: join us 😊!
      </p>
      <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSee-1SxV8zA9WbF1hR-JGmwoHJ02ICBLmOT9eZGLsL3k5n8CQ/viewform">Contact us</a></p>
    </article>
  </ion-content>